<a href="https://colab.research.google.com/github/SaraMuayad/Electropi_AI_Projects/blob/main/basic_python_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Exercise 1.1

In [1]:
12+4*2

20

In [2]:
(12+4)*2

32

##Exercise 1.2
when dividing 50 by 7 what are the remainder and the integer quotient?

In [3]:
quot = 50 // 7
quot = 50 % 7
print(f"The integer quotient is: {quot}")
print(f"The remainder is: {quot}")

The integer quotient is: 1
The remainder is: 1

##Exercise 1.3

In [4]:
3**5

243

##Exercise 2.1
given x= 3 and y = 7 swap their value what are the x and y afterwards

In [6]:
x = 3
y = 7

x,y = y,x
print(f"x={x}",f"y={y}")

x=7 y=3

##Exercise 2.2
If p=2.5 and q=4,r=p*q, and then convert to an integer

In [9]:
p=2.5
q=4
r = p*q
convertResultToInt = int(r)
print(f"the result = {convertResultToInt}")

the result = 10

##Exercise 3.1

In [48]:
myFullName = 'Sara Muayad Awla'
lengthOfCharacter = len(myFullName)
print(f"Length of My full name {lengthOfCharacter}")

Length of My full name 16

##Exercise 3.2

In [49]:
favoriteHobby = """
 Learning because give me this
 Feeling, should I keep going on my road
 """

print(favoriteHobby)

 Learning because give me this
 Feeling, should I keep going on my road

## Exercise 4.1

In [18]:
s='DataScience'
s[0:4]

'Data'

## Exercise 4.2

In [17]:
s[4:11]

'Science'

## Exercise 4.3

In [19]:
s[::-1]

'ecneicSataD'

## Exercise 5.1

In [22]:
name = 'Alice'
age = 29

print(f"{name} is",f"{age} years old")
print("{} is {} years old".format(name,age))

Alice is 29 years old
Alice is 29 years old

# Exercise 5.2

In [27]:
one = 1**2
two = 2**2
three = 3**2
four = 4**2
five = 5**2

print(f"{one}\n",f"{two}\n",f"{three}\n",f"{four}\n",f"{five}\n")

1
 4
 9
 16
 25

## Exercise 6.1

In [29]:
def numberStatus(number):
  if number > 0:
    print("The number is positive.")
  elif number < 0:
    print("The number is negative.")
  else:
    print("the number is zero")



numberStatus(5)

The number is positive.

In [30]:
numberStatus(-3)

The number is negative.

In [31]:
numberStatus(0)

the number is zero

## Exercise 6.2

In [33]:
def stringStatus(s1,s2):
  if len(s1) > len(s2):
    print(s1)
  else:
    print(s2)


stringStatus("Sara","Programming")

Programming

##Exercise 7.1

In [34]:
def numberBetween(number):
  if number >= 10 and number <= 20:
    print(f"The number {number} is between 10 and 20.")
  else:
    print(f"The number {number} is not between 10 and 20.")


numberBetween(15)

The number 15 is between 10 and 20.

In [35]:
numberBetween(19)

The number 19 is between 10 and 20.

In [36]:
numberBetween(21)

The number 21 is not between 10 and 20.

## Exercise 7.2

In [37]:
def is_leap(year):
   if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    return True
   else:
    return False


print(is_leap(2000))

True

In [38]:
print(is_leap(1900))

False

In [40]:
print(is_leap(2024))

True

## Exercise 8.1

In [43]:
def max_of_three(a,b,c):
  if a >= b and a >= c:
        return a
  elif b >= a and b >= c:
        return b
  else:
        return c


print("The maximum numbe is ",max_of_three(3,7,5))

The maximum numbe is  7

In [47]:
def reverse_string(s):
   return s[::-1]


print(reverse_string("hello"))

olleh