<a href="https://colab.research.google.com/github/SaraMuayad/Electropi_AI_Projects/blob/main/New_practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Answer the following questions

1. Seven power four

In [1]:
7**4

2401

2. first define the following string and then split the words of string into a list

  "Hello to students of Group in ML"

In [4]:
mylist = "Hello to students of Group in ML"
word_list = mylist.split()
print(word_list)

['Hello', 'to', 'students', 'of', 'Group', 'in', 'ML']

In [5]:
mylist = "Hello to students of Soran"
word_list = mylist.split()
print(word_list)

['Hello', 'to', 'students', 'of', 'Soran']

3. first define the following two variables.

planet = "Earth"

diameter = 12742

Then using two different ways, print the following sentence: (1) normal and (2) using format

The diameter of Earth is 12742 kilometers.

In [6]:
planet = "Earth"

diameter = 12742

In [8]:
print(f"The diameter of  {planet} is {diameter}  kilometers")

The diameter of  Earth is 12742  kilometers

In [9]:
print(f"The diameter of  {planet} is {diameter}  kilometers")

The diameter of  Earth is 12742  kilometers

In [10]:
print(f"The diameter of  {planet} is {diameter}  kilometers")

The diameter of  Earth is 12742  kilometers

4. Using indexing in the folloiwng nested list, reach keyword 'Kurdistan'

In [12]:
lst = [1,2,[3,4],[5,[100,200,['Kurdistan']],23,11],1,7]

In [15]:
lst[3][1][2]

['Kurdistan']

5. Using indexing in the following nested dictionary reach keyword 'Hewler'

In [17]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'Hewler']}]}]}

In [18]:
d['k1'][3]['tricky'][3]['target'][3]

'Hewler'

6. Declare the differences between tuple, list and dictionary using an example

List/ can change, add, or remove elements after the list has been created

In [19]:
my_list_name = ['sara', 'sana', 'dana']
my_list_name.append('shayma')
print(my_list_name)

['sara', 'sana', 'dana', 'shayma']

tuple/ a tuple is created, you cannot change its elements, add new ones, or remove existing ones

In [20]:
my_list_name = ('sara', 'sana', 'dana')
print(my_list_name)

('sara', 'sana', 'dana')

dictionary/collection of items stored as key-value

In [22]:
my_info= {'name': 'sara', 'age': 27,'job_position':'Mobile App Developer'}
my_info['degree'] = "Software Engineer"
print(my_info)

{'name': 'sara', 'age': 27, 'job_position': 'Mobile App Developer', 'degree': 'Software Engineer'}

7. write a function to get an email address as input argument and then return the company owner of the email

for example get "abdulhadyabas2@yahoo.com" and return 'yahoo'

In [25]:
def domainGet(email):
    username,domain = email.split('@')
    company_owner = domain.split('.')[0]
    return company_owner

In [28]:
domainGet("abdulhadyabas2@yahoo.com")

'yahoo'

In [29]:
domainGet("saramuayada@gmail.com")

'gmail'

8. write a function that get a string as input and return True if the string contain dog

note that captical and small letters are not important. Dog, dog and DOG are the same

In [30]:
def findDog(st):
 if "dog" in st:
  return True
 else:
  return False

In [31]:
findDog('Is there a dog here?')

True

In [32]:
findDog('Is there a cat here?')

False

9. write a function that get a sentence and count number of dogs in the sentence.

again capital and small letter is not important. DOG, Dog and dog are the same

In [61]:
def countDog(st):
  sentence_lower = st.lower()

  return sentence_lower.count("dog")

In [62]:
countDog('This dog runs faster than the other DOG dude!')

2

10. using Lamda function access the words of a list and just keeps those words that start with 's'

In [33]:
seq = ['soup','dog','salad','sat','great']

In [34]:
list(filter(lambda x : x[0]=='s' ,seq))

['soup', 'salad', 'sat']

### Good Luck

Abdulhady Abas