<a href="https://colab.research.google.com/github/SaraMuayad/Electropi_AI_Projects/blob/main/Practice_3_Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this homework some data of Amazon website is given to you to have some data analysis (Data Science)

1- Import libraries and then read from dataset of 'Ecommerce Purchases.csv' and save the dataframe in 'ecom'

In [1]:
import numpy as np
import pandas as pd

In [2]:
ecom = pd.read_csv('Ecommerce Purchases.csv')

2- use .head() method to see the first 5 samples of the dataset. You can search about head() method in google regarding pandas

In [3]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

3. use .info() method to find some useful information (e.g., find number of columns and rows and ...)

In [4]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

4. use .describe() method to find some statistical results about the dataset

In [5]:
ecom.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

5. what is the average purchase of customers from Amazon website?

In [6]:
avg = ecom['Purchase Price'].mean()
print(avg)

50.347302

6. what is the maximum of purchase that a customer has done in Amazon?

In [10]:
max = ecom['Purchase Price'].max()
print(max)

99.99

7. what is the minimum of purchase that a costumer has done in Amazon?

In [11]:
min = ecom['Purchase Price'].min()
print(min)

0.0

8. how many of customers has select 'english' as their default language?

In [12]:
lang = ecom[ecom['Language'] == 'en']
print(len(lang))

1098

9. How many of customers of Amazon have 'Lawyer' job?

In [13]:
job = ecom[ecom['Job'] == 'Lawyer']
print(len(job))

30

10.how many of purchases have been done in day and how many in night?

In [19]:
print(ecom['AM or PM'].value_counts())

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

In [21]:
print(f"number of purchases during day: ",ecom['AM or PM'].value_counts()['AM'])

number of purchases during day:  4932

In [22]:
print(f"number of purchases during night: ",ecom['AM or PM'].value_counts()['PM'])

number of purchases during night:  5068

11. find the five most popular jobs?

In [26]:
popularjob = ecom['Job'].value_counts().head()
print(popularjob)

Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: count, dtype: int64

12. A guy with the Plaque of 'Lot: 90 WT' had a purchase from Amazon. We found that the Plaque is wrong and we should return the money to him. Finds his purchase price?

In [28]:
lot = ecom[ecom['Lot'] == '90 WT']
print(lot['Purchase Price'])

513    75.1
Name: Purchase Price, dtype: float64

13. find the email of a customer whose his credit card is 4926535242672853

In [29]:
email = ecom[ecom['Credit Card']==4926535242672853 ]
print(email['Email'])

1234    bondellen@williams-garza.com
Name: Email, dtype: object

14. As a datascientist find number and total amount of transactions that have been done with 'American Express' bank (cc provider) that the purchase rate is above 95 $

In [32]:
totalnumber = ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)]
print(len(totalnumber))

39

In [33]:
print(totalnumber['Purchase Price'].sum())

3805.65

15. As a datascientist find number of customers that their credit card are expierd at 2025

In [34]:
customer_number = ecom[ecom['CC Exp Date'].str.contains('/25')]
print(len(customer_number))

1033

15. find the five most popular email domain of customers of Amazon

In [38]:
popular_domin_email = ecom['Email'].str.split('@').str[1].str.replace('.com', '').value_counts().head()
print(popular_domin_email)

Email
hotmail     1638
yahoo       1616
gmail       1605
smith         42
williams      37
Name: count, dtype: int64

Let us do some explore with employees of Sanfransisco and their salaries.
Please read from dataset of 'Salaries.csv' and read it as 'sal'

In [49]:
sal = pd.read_csv('Salaries.csv')

16. observe the first 10 rows (samples) of the dataset

In [50]:
sal.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

17. Using infor() method find more information regarding the dataset (number of columns, number of rows, non-null values, ...)

In [51]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

18. using describe() method find some statistical info and data about the dataset

In [52]:
sal.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448840,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

19. what is the average base salary in Sanfransisco?

In [54]:
avg = sal['BasePay'].mean()
print(avg)

66325.4488404877

20. what is the maximum overtimepay salary in Sanfransisco?

In [55]:
max = sal['OvertimePay'].max()
print(max)

245131.88

21. What is the job of Mr. JOSEPH DRISCOLL?

In [56]:
mr_joseph_job_title = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']
print(mr_joseph_job_title['JobTitle'])

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

22. What is the total salary of Mr. JOSEPH DRISCOLL (Total pay benefits)?

In [57]:
total_salary = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']
print(total_salary['TotalPayBenefits'])

24    270324.91
Name: TotalPayBenefits, dtype: float64

23. Who has the maximum income (TotalPayBenefits) in Sanfransisco?

In [58]:
max_income_total_py_benefits = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]
print(max_income_total_py_benefits['EmployeeName'])

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

24. Print the base salary (basepay) from 2011 to 2014?

In [64]:
base_salary_from_2011_to_2014 = sal[(sal['Year'] >= 2011) & (sal['Year'] <= 2014)].groupby('Year')['BasePay'].mean()
print(base_salary_from_2011_to_2014)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

25. How many different jobs are in Sanfransisco?

In [65]:
different_jobs = sal['JobTitle'].nunique()
print(different_jobs)

2159

26. Find the five most popular jobs in Sanfransisco

In [70]:
popular_jobs_sanfransisco = sal['JobTitle'].value_counts().head()
print(popular_jobs_sanfransisco)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

27. find number of jobs in 2013 that have only one employee

In [75]:
number_of_jobs_2013_one_employee = sal[sal['Year'] == 2013]['JobTitle'].value_counts()
print(len(number_of_jobs_2013_one_employee[number_of_jobs_2013_one_employee == 1]))

202

28. find number of jobs that has the keyword of 'chief' in their jobs.

In [76]:
chief_job_keyword = sal[sal['JobTitle'].str.contains('Chief', case=False)]
print(len(chief_job_keyword))

627

Good Luck!

Abdulhady Abas